body{
    background-image: url(img/snakes.jpg);
    background-size: cover;
    display: flex;
    height: 95vh;
    width: 95;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.titulo{
    background-color: black;
    color: #ef8718;
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
    border: #ef8718 solid 8px;
    padding: 5px 15px;
    border-radius: 50px;
    margin-bottom: 5px;
}

